@import "../../node_modules/bootstrap/scss/functions";
// @import "../../node_modules/bootstrap/scss/variables";

$primary: #e61010;
$secondary: #6c757d;
$success: #198754;
$info: #0077b6;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #212529;
$disabled: #a8a8a8;
$none: #a8a8a800;

$theme-colors: (
    primary: $primary,
    secondary: $secondary,
    success: $success,
    info: $info,
    warning: $warning,
    danger: $danger,
    light: $light,
    dark: $dark,
    disabled: $disabled,
    none: $none
    // nav-pills-link-active-bg: $primary,
    // add any additional color below
);

@import "../../node_modules/bootstrap/scss/bootstrap";